/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default styles for list */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

li {
  margin: 0 0 0.25rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  color: rgb(var(--ds-color-primary-inverted));
  background: rgb(var(--ds-color-primary));
}

body {
  color: rgb(var(--ds-color-text));
  background: rgb(var(--ds-color-background));
  transition: background-color 0.3s ease;
}

a {
  color: rgb(var(--ds-color-primary));
  background-color: transparent;
  overflow-wrap: anywhere;
  word-break: normal;
  text-decoration: underline;
}

:where(
    a[href],
    area[href],
    button,
    input:not([type="hidden"]),
    select,
    textarea,
    summary,
    iframe,
    [tabindex]:not([tabindex="-1"]),
    [contenteditable="true"]
  ):focus {
  outline: none;
}

:where(
    a[href],
    area[href],
    button,
    input:not([type="hidden"]),
    select,
    textarea,
    summary,
    iframe,
    [tabindex]:not([tabindex="-1"]),
    [contenteditable="true"]
  ):focus-visible {
  outline: var(--ds-focus-ring-width) solid rgb(var(--ds-color-focus-ring));
  outline-offset: var(--ds-focus-ring-offset);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
