---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import HomeHeader from "../../components/HomeHeader.astro";
import MaxWidthContainer from "../../components/MaxWidthContainer.astro";
import PostItem from "../../components/PostItem.astro";
import { slugify } from "../../lib/util";

export const getStaticPaths = (async () => {
  const posts = await getCollection("post");
  const tags = Array.from(
    new Set(posts.flatMap((post) => post.data.tags.flat()))
  );
  return tags.map((tag) => ({
    params: { tag: slugify(tag) },
    props: {
      tag,
      posts: posts
        .filter((post) => post.data.tags.includes(tag))
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
    },
  }));
}) satisfies GetStaticPaths;

const { tag, posts } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={""} description={""} />
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <h1>#{tag}</h1>
        <section class="posts">
          {
            posts.map((post) => (
              <PostItem
                title={post.data.title}
                date={post.data.date}
                slug={post.slug}
              />
            ))
          }
        </section>
      </main>
    </MaxWidthContainer>
    <Footer />
    <style>
      .posts {
        /* min-height: 9rem; */
      }
    </style>
  </body>
</html>
