---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import BaseHead from "../components/BaseHead.astro";
import HomeHeader from "../components/HomeHeader.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts.ts";

const title = SITE_TITLE;
const description = SITE_DESCRIPTION;

const allPosts = await getCollection("post");
const latestPosts = allPosts
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <HomeHeader />
    <main class="max-w-[740px] mx-auto px-5 pb-24">
      <section>
        {
          latestPosts.map((post) => (
            <a href={`/post/${post.slug}`} class="no-underline text-inherit">
              <div class="py-4">
                <p class="text-xl my-2">{post.data.title}</p>
                <p class="text-sm my-2 text-gray-500">
                  {format(post.data.date, "MMMM dd, yyyy")}
                </p>
              </div>
            </a>
          ))
        }
      </section>

      <a href="/page/1">View all</a>
    </main>
  </body>
</html>
