---
import BaseHead from "../components/BaseHead.astro";
import HomeHeader from "../components/HomeHeader.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts.ts";

const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <HomeHeader />
  </body>
</html>
