---
import MaxWidthContainer from "./MaxWidthContainer.astro";
---

<footer>
  <MaxWidthContainer>
    <p class="copyright">&copy; 2015-2025 sotahatakeyama.</p>
  </MaxWidthContainer>
</footer>

<style>
  footer {
    border-top: 1px solid rgb(209 213 219);
    min-height: 9rem;
    padding: 32px 16px;
  }
  .copyright {
    font-size: 0.75rem;
    color: rgb(75 85 99);
  }
</style>
