---
import Logo from "./Logo.astro";
---

<header>
  <div class="logo">
    <Logo />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    max-width: 740px;
    margin: var(--space-header-block-start) auto var(--space-header-block-end);
    padding: 0 var(--space-page-inline);
  }
  .logo {
    min-width: 0;
    border-bottom: 1px solid var(--color-border);
    padding: var(--space-xs);
  }
</style>
