---
import Logo from "./Logo.astro";
---

<header>
  <div class="logo">
    <Logo />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    max-width: 740px;
    margin: 44px auto 64px;
  }
  .logo {
    width: fit-content;
    border-bottom: 1px solid var(--ds-color-border);
    padding: 8px;
  }
</style>
