---
import Logo from "./Logo.astro";
---

<header>
  <!-- TODO: color theme switch -->
  <div class="logo">
    <Logo />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    max-width: 740px;
    margin: 44px auto 64px;
  }
  .logo {
    width: fit-content;
    border-bottom: 1px solid rgb(209 213 219);
    padding: 8px;
  }

  .title-logo {
    width: 207px;
    margin: 10px 0 20px;
    color: var(--color-text);
  }
  .home-image {
    width: 64px;
    height: 64px;
    color: #4a4a4a;
    color: var(--color-text);
    margin-bottom: 20px;
  }
</style>
