---
import logo from "@/assets/images/logo.svg?raw";
---

<a href="/">
  <Fragment set:html={logo} />
</a>

<style>
  a {
    border-radius: 4px;
    color: inherit;
  }

  a:focus {
    outline: none;
  }

  a:focus-visible {
    outline: var(--ds-focus-ring-width) solid rgb(var(--ds-color-focus-ring));
    outline-offset: var(--ds-focus-ring-offset);
  }
</style>
