---
const { width = "740px" } = Astro.props;
---

<div class="container">
  <slot />
</div>

<style define:vars={{ width }}>
  .container {
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 16px 96px;
  }
</style>
