---
import type { ButtonProps } from "../../design-system/react/components/Button";
import Button from "../../design-system/react/components/Button";

const props = Astro.props as ButtonProps;
---

<Button client:load {...props}>
  <slot />
</Button>
