---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"post">["data"];

const { title, date } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={""} />
  </head>
  <body>
    <main class="max-w-[740px] mx-auto px-5 pb-24">
      <article>
        <h1 class="mt-8 mb-4 text-4xl font-semibold post-title">{title}</h1>
        <slot />
      </article>
    </main>
    <style>
      .post-title {
        background: linear-gradient(
          90deg,
          rgb(59, 154, 201),
          rgb(152, 59, 201)
        );
        background-clip: text;
        color: transparent;
      }
    </style>
  </body>
</html>
